# Ignore Gradle project-specific cache directory
/.gradle/

# Ignore Gradle build output directory
/build/

/.idea/
/.gitattributes
/srcdir.sh
/client/.gitattributes
/processor/.gitattributes
/workshop/
/client/build/
/processor/build/
/client/.gradle/
/processor/.gradle/
/processor/target/
/client/target/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
